$font: Georgia, sans-serif;
$vib-yellow: #fff2cc;
$pale-yellow: #fffae6;
$white-yellow: #fffdf7;
$dark-blue: #647687;

.split {
  height: 100%;
  width: 100%;
  position: absolute;

  .left {
    @extend .split;
    width: 50%;
    left: 0;
    background-color: $dark-blue;
  }
  .right {
    @extend .split;
    width: 50%;
    right: 0;
    background: linear-gradient($white-yellow, $vib-yellow 40%);
  }
  
}

.box {
  border-radius: 50px;
  height: 80%;
  margin: {
    top: 10%;
    bottom: 10%;
    left: 15%;
    right: 15%;
  }
  position: relative;
  background-color: $pale-yellow;
}