@use 'globalVars.module.scss' as *;

//CSSgrid
//display flex can be used to display side by side then shift vertically
//menu - open state close state that changes class on it, and then base styling on whether class on or not
//white bar at top of screen why?
//why is container bottom padding different?
//best way to bring in iconography? where do those go in file structure, size considerations, etc?
//why these lines on mobile around days?
//how to get the calender numbers float right?
@keyframes fade {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.welcome {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: linear-gradient($white-yellow, $vib-yellow 50%);
    text-align: center;
    padding: {
        top: 40vh;
        bottom: 25vh;
        left: auto;
        right: auto;
    }
    top: 0px;
    left: 0px;
    z-index: 10;
    opacity: 1;
    animation: fade 4s;
    .message {
        font: {
            family: $font;
            weight: bold;
        }
        color: $light-blue;
        opacity: 1;
        @include text_size('xx-large');
    }
}
.goodbye {
    display: none;
}

.menu {
    height: 100vh;
    width: 15vw;
    top: 0;
    left: 0;
    background-color: $dark-blue;
}

.container {
    height: 100vh;
    width: 85vw;
    left: 15vw;
    top: 0;
    position: absolute;
    background-color: $vib-yellow;
    padding: {
        top: 10px;
        bottom: 50px;
        right: 50px;
    }
}
.calender {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    background-color: $light-blue;
    grid-gap: 5px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px repeat(5, 1fr);
}
.calender > .cell {
    background-color: $pale-yellow;
}
.header {
    @include text-size('x-large');
    font: {
        family: $font;
        weight: bold;
    }
    color: $light-blue;
    text-align: center;
    margin: {
        bottom: 15px;
    }
}
.daysContainer {
    background-color: $vib-yellow !important;
    grid-column-start: 1;
    grid-column-end: 8;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-bottom: -5px;
}
.daysWeek {
    text-align: center;
    color: $dark-blue;
    font: {
        family: $font;
        weight: bold;
    }
    padding-top: 5%;
    padding-bottom: 5%;
    @include text-size('large');
}
.cell {
    padding: 10px;
}
.dateNum {
    //margin-top: 0;
    //margin-right: 0;
    //margin-left: auto;
    float: right;
    font: {
        family: $font;
    }
    color: $dark-blue;
    @include text-size('medium');
}